TG_API_ID=123456
TG_API_HASH=your_api_hash_here
TG_STRING_SESSION=your_string_session_here
CHANNEL_USERNAME=@bestpricezone
HERO_BANNER=banner.jpg
HERO_HEIGHT=300px
CLEAN_IMAGES_ON_RUN=0
MAX_SCAN_MESSAGES=1500
MAX_KEEP=200
